<h1><%= @list.name %></h1>


<% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.comment %>
<% end %>

<%= cl_image_tag @list.image.key, width: 200, heigh: 200%>

<%= link_to "Ajouter un bookmark", new_list_bookmark_path(@list) %>


<%= link_to "Retour au menu", lists_path %>
